
.myBtn {
    margin-top:15px;
    background-color: #F26925;
    color:white;
    border-color: #F26925;
}
 
.myBtn:hover{
    background-color:white;
    color:#F26925;
    border: 2px solid #F26925;
 
}


.top{
    margin-top: 15px;
}