<a (click)="openModal(template)">Register</a >

    <ng-template #template>
    <div class = "modal-title-container" >
        
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        
        First Name:
        <input id = "fname" type = "text" [(ngModel)] = "fname">
        Last Name:
        <input id = "lname" type = "text" [(ngModel)] = "lname">
        Email:
        <input id = "email" type = "text" [(ngModel)] = "email">
        Phone:
        <input id = "phone" type = "text" [(ngModel)] = "phone">
        Username:
        <input id = "username" type = "text" [(ngModel)] = "username">
        Password:
        <input id = "password" type = "text" [(ngModel)] = "password">
        Street:
        <input id = "street" type = "text" [(ngModel)] = "street">
        City:
        <input id = "city" type = "text" [(ngModel)] = "city">
        State:
        <select class="form-control"  id="State" [(ngModel)] = "state">
            <option value="none" selected disabled hidden>  
            </option>
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
        </select>
        ZIP Code:
        <input id = "zip" type = "number" [(ngModel)] = "zip">
        Office:
        <select id="location" (change)='changeLocation($event)'>
            <option *ngFor="let off of offices" [value]="off.office_id">{{off.office_address}}</option>
        </select>
        Driver:
        <input id = "isDriver" type="checkbox" [(ngModel)]="checked">
        <button id="submit" (click) = "submit()">Submit</button>
    </div>
    <div *ngIf = "showLogin">
        <app-login></app-login>
    </div>

</ng-template>