<a (click)="openModal(template)">Login</a >

<ng-template #template>
    
    <div *ngIf = showLogin class = "modal-title-container">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>

        Username:
        <input id="username" type = "text" [(ngModel)] = "username">
    
        Password:
        <input id="password" type = "password" [(ngModel)] = "password">
    
        <button id="submit" (click) = "employeelogin()">Submit</button>
    </div>

</ng-template>




<!-- <div *ngIf = "showManagerPage">
    <app-manager-page></app-manager-page>
</div>

<div *ngIf = "showEmployeeProfile">
    <app-employee-page></app-employee-page>
</div>

<div *ngIf = "showShowDrivers">
    <app-show-drivers></app-show-drivers>
</div> --> 