<p>manager-edit-employee works!</p>

Employee1



Employee2
<button id = "delete2" (click) = "delete(2)">Delete 2</button>
<button id = "promote2" (click) = "promote(2)">Promote 2</button>

<table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Delete</th>
        <th>Promote</th>
      </tr>
    </thead>
    <tbody>
      <tr class="c"*ngFor = "let employee of Employee">
          <td>{{employee.first_name}}</td>    
          <td>{{employee.last_name}}</td> 
          <td><button id = "delete1" (click) = "delete(1)">Delete 1</button></td>    
          <td><button id = "promote1" (click) = "promote(1)">Promote 1</button></td> 
      </tr>
    </tbody>
  </table>